{% extends 'base.html' %}

{% block title %}Add Student{% endblock %}

{% block content %}
    <div class="container mt-4">
        {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}

        <div class="card">
            <div class="card-header">
                <h2 class="mb-0">Add Student</h2>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'add_student' %}" class="form">
                    {% csrf_token %}
                    
                    <div class="row mb-3">
                        <div class="col-md-3">
                            {{ student_form.name.label_tag }}<br>
                            {{ student_form.name }}
                        </div>
                        <div class="col-md-3">
                            {{ student_form.roll_number.label_tag }}<br>
                            {{ student_form.roll_number }}
                        </div>
               
                        <div class="col-md-3">
                            {{ mark_sheet_form.hindi.label_tag }}<br>
                            {{ mark_sheet_form.hindi }}
                        </div>
                        <div class="col-md-3">
                            {{ mark_sheet_form.english.label_tag }}<br>
                            {{ mark_sheet_form.english }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        
                        <div class="col-md-3">
                            {{ mark_sheet_form.maths.label_tag }}<br>
                            {{ mark_sheet_form.maths }}
                        </div>
                        <div class="col-md-3">
                            {{ mark_sheet_form.science.label_tag }}<br>
                            {{ mark_sheet_form.science }}
                        </div>
               
                        <div class="col-md-3">
                            {{ mark_sheet_form.total_marks.label_tag }}<br>
                            {{ mark_sheet_form.total_marks }}
                        </div>
                    </div><br>

                    <center><button type="submit" class="btn btn-primary">Add Student</button></center>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
